extend base
block  content
    h2 User Profile
      .user-container
        .user-image  
          p 
            img(src=`${user.profileImage}`, alt="", srcset="")
          p  
            input(type="file", name="photo").updateProfile
        .user-details    
          p Name : #{user.name}
          p Email: #{user.email}
          //p 
            a(herf="/") Settings
          
          //if user.role=="admin"
            p 
              a(href="/managePlans" ) Manage Plans
            p 
              a(href="/manageUser") Manage User
            
              